# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# file system
.DS_Store

# C extensions
*.so
*.o
*.elf
*.hex
*.bin
*.asm
*.exe

# Distribution / packaging
eggs/
.eggs/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest


# Jupyter Notebook
.ipynb_checkpoints

__pypackages__/

